<script>
  import { onMount, onDestroy } from 'svelte';
  import { createPopper } from "@popperjs/core";
 
  let dropdownPopoverShow = false;
  let btnDropdownRef;
  let popoverDropdownRef;
  let dropdownRef;
 
  const toggleDropdown = (event) => {
    event.preventDefault();
    if (dropdownPopoverShow) {
      dropdownPopoverShow = false;
    } else {
      dropdownPopoverShow = true;
      createPopper(btnDropdownRef, popoverDropdownRef, {
        placement: "bottom-start",
      });
    }
  };
 
  function handleDocumentClick(event) {
    if (dropdownRef && !dropdownRef.contains(event.target)) {
      dropdownPopoverShow = false;
    }
  }
 
  onMount(() => {
    document.addEventListener('click', handleDocumentClick);
  });
 
  onDestroy(() => {
    document.removeEventListener('click', handleDocumentClick);
  });
 </script>
 
 <div class="w-full mx-auto">
  <a
    class="text-blueGray-500 py-1 px-3"
    href="#pablo"
    bind:this="{btnDropdownRef}"
    on:click="{toggleDropdown}"
  >
    <i class="fas fa-ellipsis-v"></i>
  </a>
  <div
    bind:this="{dropdownRef}"
    class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48 {dropdownPopoverShow ? 'block':'hidden'}"
  >
    <a
      href="#pablo" on:click={(e) => e.preventDefault()}
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
    >
      Editar
    </a>
    <a
      href="#pablo" on:click={(e) => e.preventDefault()}
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
    >
      Eliminar
    </a>
  </div>
 </div>
 