<script>
  
</script>
   
   <!--<input {id} {classes} type="text" placeholder="DD-MM-YYYY" bind:value={inputValue} on:change={handleChange} on:focus={handleFocus} on:blur={handleBlur} on:input={handleInput}>
   {#if showPicker}
    <DatePicker bind:value={fecha} />
   {/if}-->
   