<script>
  import EditModal from "../Modals/AddModal.svelte";
  import DeleteModal from "../Modals/DeleteModal.svelte";
  import AddModal from "../Modals/AddModal.svelte";
  import { onMount } from "svelte";
 
  let searchTerm = "";
  let filteredItems = []; 
  let isModalOpen = false;
  let isAddModalOpen = false;
  let isDeleteModalOpen = false;
  let itemToEdit;
 
  export let headers = [];
  export let items = [];
  export let placeholder = "";
  export let title = "";
  export let formatCell = (header, value) => value;
  export let headerMap = {};
  export let titleModal = "";
  export let modalContent="";
  let id = "";
  let localId;
  let idField='';
 
  $: if (items) {
   filteredItems = items;
  }
 
  function filterItems() {
   const lowerSearchTerm = searchTerm.toLowerCase();
   filteredItems = items.filter((item) => {
     return headers.some((header) => {
       const cellValue = item[header].toString().toLowerCase();
       return cellValue.includes(lowerSearchTerm);
     });
   });
  }
 
  async function openModal(id, idField) {
   itemToEdit = items.find(item => item[idField] === id);
   localId = itemToEdit[idField]; // Accede al valor del id directamente del objeto
   isModalOpen = true;
}

function openAddModal(id, idField) {
   isAddModalOpen = true;
   itemToEdit = items.find(item => item[idField] === id);
   localId = itemToEdit[idField]; // Accede al valor del id directamente del objeto
}

function openDeleteModal(result) {
   itemToEdit = items.find(item => item[result.idField] === result.id);
   localId = itemToEdit[result.idField]; // Accede al valor del id directamente del objeto
   isDeleteModalOpen = true;
   console.log({id:id})
}

function closeModal() {
   isModalOpen = false;
}

function closeDeleteModal() {
   isDeleteModalOpen = false;
}

function closeAddModal() {
   isAddModalOpen = false;
}

function parametrosId (item){
  if (modalContent==="vehiculo") {
    id=item.numSerie, idField='numSerie'
  } else if(modalContent==="marca") {
    id=item.num, idField='num'
  } else if(modalContent==="modelo") {
    id=item.num, idField='num'
  } else if(modalContent==="cargacombustible") {
    id=item.num, idField='num'
  } else if(modalContent==="sesion") {
    id=item.num, idField='num'
  }
  else if(modalContent==="infraccions") {
    id=item.num, idField='num'
  }
  let result = {id, idField};
  return result
}
 
 </script>
 
 {#if isModalOpen}
 <div class="fixed inset-0 bg-black-opacity-50 backdrop-blur-md z-50"><EditModal title={titleModal} onClose={closeModal} modalContent={modalContent} id={id}/></div>
 {/if}
 {#if isAddModalOpen}
 <div class="fixed inset-0 bg-black-opacity-50 backdrop-blur-md z-50"><AddModal title="Agregar nuevo" onClose={closeAddModal} modalContent={modalContent} id={id}/></div>
 {/if}
 {#if isDeleteModalOpen}
 <div class="fixed inset-0 bg-black-opacity-50 backdrop-blur-md z-50"><DeleteModal title="Eliminar Vehiculo" onClose={closeDeleteModal} modalContent={modalContent} id={localId}/></div>
 {/if}
 {#await items}
  <p>Loading...</p>
 {:then items}
  <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg bg-white p-5">
   <div class="block w-full overflow-x-auto">
     <!-- Projects table -->
     <div class="w-full flex justify-between items-baseline mx-2">
       <p class="text-slate-800 text-xl font-extrabold py-5">{title}</p>
       <div class="w-1/2 flex items-baseline justify-end">
         <button on:click={() => {openAddModal();}} class="mx-auto px-2 w-1/3 flex justify-center py-2 text-black border border-transparent rounded-md shadow-sm text-sm bg-emerald-500 font-bold">Nuevo</button>
         <label for="search" class="pr-5 font-bold text-black">Filtrar </label>
         <input
           name="search"
           type="search"
           {placeholder}
           class="lg:w-1/3 w-1/2 border p-2 mb-4 mx-3 focus:border-slate-800"
           bind:value={searchTerm}
           on:input={filterItems}
         />
       </div>
     </div>
     <div class="min-w-full max-h-80 overflow-y-auto w-full">
       <table class="min-w-full bg-white border border-blue-950 w-full">
         <thead class="bg-slate-800 text-white sticky top-0">
           <tr>
             {#each headers as header}
               <th class="py-2 px-4 border border-white"
                >{headerMap[header] || header}</th
               >
             {/each}
             <th class="py-2 px-4 border border-white">Acciones</th>
           </tr>
         </thead>
         <tbody>
           {#each filteredItems as item}
             <tr>
               {#each headers as header}
                <td class="py-2 px-4 border border-blue-950">
                 {formatCell(header, item[header])}
                </td>
               {/each}
               <td class="py-2 px-4 border border-blue-950">
                <div class="flex flex-col w-full mx-auto">
                 <button class="text-xs"on:click={() => {openDeleteModal(parametrosId (item));}}>Editar</button>
                 <button class="text-xs"on:click={() => {openDeleteModal(parametrosId (item));}}>Eliminar</button>
                </div>
               </td>
             </tr>
           {/each}
         </tbody>
       </table>
     </div>
   </div>
  </div>
 {:catch error}
  <p>Error: {error.message}</p>
 {/await}
 