  <script>
    import SearchTable from "../../components/Cards/SearchTable.svelte";
    import { onMount } from "svelte";
    import { getConductores } from "../../api/api";
    export let location;
  
    let items = [];
    let headers = [];
    let title = "Vehiculos";
    let placeholder = "Ej. Camion, Volvo, Moto";
    let headerMap = {
      numSerie: "No. Serie",
      placas: "Placas",
      kilometraje: "Kilometraje",
      placas: "Placas",
      fechaAdquisicion: "Adquisicion",
      usaDiesel: "Combustible",
      modelo__nombre: "Modelo",
      marca__nombre: "Marca",
      tipo__nombre: "Tipo",
    };
  
  
    let titleModal = "Editar Vehiculo";
    let modalContent = "vehiculo"
  
  
  </script>
  
  <div class="w-full">
    <div class="flex flex-wrap mt-4 w-full">
      <div class="w-full mb-12 xl:mb-0 px-4">
        <SearchTable
          {headers}
          {headerMap}
          {items}
          {placeholder}
          {title}
          {titleModal}
          {modalContent}
          formatCell={(header, value) => {
            if (header === 'kilometraje') {
              return `${value} km`;
            } else if (header === 'usaDiesel') {
              return value ? 'Diesel' : 'Gasolina';
            } else {
              return value;
            }
          }}
        />
      </div>
    </div>
  </div>
  