<script>
  import SearchTable from "../../components/Cards/SearchTable.svelte";
  import { onMount } from "svelte";
  import { getDocumentosVehiculos} from "../../api/api.js";
  export let location;

  let items = [];
  let headers = [];
  let modalContent = "";
  let onClose= () => {isModalOpen = false;};
  let titleModal = "Editar Documento";
  onMount(async () => {
    try {
      const response = await getDocumentosVehiculos();
      items = response.documentos;
      headers = Object.keys(response.documentos[0]);
      console.log(items);
      console.log(headers);
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });

  let title = "Documentos de los Vehiculos";
  let placeholder = "Ej. Certificado, 322";

  let headerMap = {
    num: 'Numero',
    tipo: 'Tipo',
    fechaEmision: 'Emision',
    fechaVencimiento: 'Vencimiento',
    comentarios:'Comentarios',
    vehiculo_id: 'Vehiculo',
  };
</script>

<div class="w-full">
  <div class="flex flex-wrap mt-4 w-full">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        {headers}
        {headerMap}
        {items}
        {placeholder}
        {title}
        {titleModal}
        modalContent="documento"
        formatCell={(header, value) => {
          if (header === 'kilometraje') {
            return `${value} km`;
          } else if (header === 'comentarios') {
            return value ? value : 'Sin comentarios';
          } else {
            return value;
          }
        }}
      />
    </div>
  </div>
</div>
