<script>
  import SearchTable from "../../components/Cards/SearchTable.svelte";
  import { onMount } from "svelte";
  import { getLicencias} from "../../api/api.js";
  export let location;

  let items = [];
  let headers = [];

  onMount(async () => {
    try {
      const response = await getLicencias();
      items = response.licencias;
      headers = Object.keys(response.licencias[0]);
      console.log(items);
      console.log(headers);
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });

  let title = "Licencias";
  let placeholder = "Ej. 1";

  let headerMap = {
    num: 'Numero',
    fechaExpedicion: "Expedición",
    fechaVencimiento: "Vencimiento",
    comentarios: "Comentarios",
    conductor_id: 'Conductor',
    tipo_id: 'Tipo'
  };
</script>

<div class="w-full">
  <div class="flex flex-wrap mt-4 w-full">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        {headers}
        {headerMap}
        {items}
        {placeholder}
        {title}
        formatCell={(header, value) => {
          if (header === 'comentarios') {
            return value ? value : 'Sin comentarios';
          } else {
            return value;
          }
        }}
      />
    </div>
  </div>
</div>
