<script>
  import SearchTable from "../../components/Cards/SearchTable.svelte";
  import { onMount } from "svelte";
  import { getMarcas, getModelos } from "../../api/api.js";
  export let location;

  let itemsMarcas = [];
  let headersMarcas = [];
  let placeholderMarcas = "Ej. Honda, Toyota, Volvo";
  let formatCell = (header, value) => value;
  let headerMap = {};
  let titleModal = "";
  let modalContent="";

  let itemsModelos = [];
  let headersModelos = [];
  let placeholderModelos = "Ej. Tacoma, W900, CB50X";

  onMount(async () => {
    try {
      const responseMarcas = await getMarcas();
      itemsMarcas = responseMarcas.MarcasVehiculos;
      headersMarcas = Object.keys(responseMarcas.MarcasVehiculos[0]);

      const responseModelos = await getModelos();
      itemsModelos = responseModelos.ModelosVehiculos;
      headersModelos = Object.keys(responseModelos.ModelosVehiculos[0]);
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });

  
  let headerMapMarcas = {
    num: "Numero",
    nombre: "Nombre",
    vehiculos_count: "Cantidad",
  };

    
  let headerMapModelos = {
    num: "Numero",
    nombre: "Nombre",
    consumoConbustible: 'Consumo Combustible',
    cantCarga: 'Capacidad Carga',
    capPasajero: 'Capacidad Pasajeros',
    vehiculos_count: "Cantidad"
  };
</script>

<div class="w-full">
  <div class="flex flex-wrap mt-4 w-full">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        headers={headersMarcas}
        items={itemsMarcas}
        placeholder={placeholderMarcas}
        headerMap={headerMapMarcas}
        titleModal="Editar Marca"
        modalContent="marca";
        title = 'Marcas'
        formatCell={(header, value) => {
          if (header === "vehiculos_count") {
            return `${value} vehiculos`;
          } else {
            return value;
          }
        }}
      />
    </div>
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        headers={headersModelos}
        items={itemsModelos}
        placeholder={placeholderModelos}
        headerMap={headerMapModelos}
        title="Modelos"
        titleModal="Editar Modelo"
        modalContent="modelo";
        formatCell={(header, value) => {
          if (header === "vehiculos_count") {
            return `${value} vehiculos`;
          } else if (header === 'consumoConbustible') {
            return `${value} km/L`;
          } else if (header === 'cantCarga') {
            return `${value} litros`;
          } else if (header === 'capPasajero') {
            return `${value} pasajeros`;
          } else {
            return value;
          }
        }}
      />
    </div>
  </div>
</div>
